<main class="mdl-layout__content mdl-color--grey-100" ng-controller="homeCtrl" style="width:100%">
    <div ng-if="empty_list!=true" ng-repeat="item in filtered_list" class="mdl-grid demo-content">
       <div ng-show="item.is_to_show_on_mobile =='1'" class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">   
        <img style="width:100%; height:auto"  ng-src="{{item.menu_item_image_base_url}}">
              
              
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            <h1 class="mdl-card__title-text">{{item.name}}</h1> 
            <p style="margin-top:2%">{{item.description}}</p>
                  
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <p class="mdl-button mdl-js-button mdl-js-ripple-effect">R${{item.price}}</p>
        </div>
          
            
        <div class="demo-separator mdl-cell--1-col"></div>
      
      </div>  
    </div>
    <div ng-if="empty_list">
       <img class="img-responsive center-block" ng-src="{{empty_menu_image}}"> </img> 
            <h5 style="text-align:center"> Não há itens cadastrados em seu cardápio!</h5>
    </div>
</main>